<div class="jumbotron">
    @*<h2>Servicios WEB ReC Servicios Consultores</h2>*@
    <h2 >
        Para realizar la integración de los eventos de su plataforma de rastreo con ReC Servicios Consultores es necesario insertar los eventos de los dispositivos GPS, 
        a través de alguno de los dos servicios expuestos: WebService WSDL o Rest Api.
    </h2>


</div>
<div class="container">


    

    <h2><span style="color:darkblue">WSDL WebService </span></h2>
    <br />
    <span>Para consumir el servicio solo necesita agregar una "Referencia de servicio" con la siguiente </span>
    <br />
    <a href="/WebService.svc?singleWsdl">@ViewBag.Domain/WebService.svc?singleWsdl</a> <span style="padding-left:50px">(XML Schema Definition)</span>
    <br />
    <img src="~/Content/Images/addservicereference.png" width="500px" height="400px" />
    @*<a href="../WebService.svc">WebService.svc</a>*@


<P class='intro'>
    <B>C#</B>
</P>
<PRE><font color="blue">class </font><font color="teal">Test
</font>{
<font color="blue">    static void </font>Main()
    {
    <font color="teal">WebServiceClient</font> client = <font color="blue">new </font><font color="teal">WebServiceClient</font>();
<font color="green">        // Use la variable 'client' para llamar a operaciones en el servicio.
</font><font color="green">        // Cierre siempre el cliente.
</font>        client.Close();
    }
}
</PRE>
<BR />
<P class='intro'>
    <B>Visual Basic</B>
</P>
<PRE><font color="blue">Class </font><font color="teal">Test
</font><font color="blue">    Shared Sub </font>Main()
<font color="blue">        Dim </font>client As <font color="teal">WebServiceClient</font> = <font color="blue">New </font><font color="teal">WebServiceClient</font>()
<font color="green">        ' Use la variable 'client' para llamar a operaciones en el servicio.
</font><font color="green">        ' Cierre siempre el cliente.
</font>        client.Close()
<font color="blue">    End Sub
</font><font color="blue">End Class</font></PRE>


<br /><br />
<h2><span style="color:darkblue">REST API</span></h2>
@*<span>Se debe obtener un token el cual debera ser pasado en las siguientes peticiones como header de cada peticion.</span>*@
<br />
<h3>POST  @ViewBag.Domain/Token </h3>
<span>Api para obtener un token el cual deberá ser pasado en las siguientes peticiones como header de cada ejecución de alguna API. </span>
<br />
<br />
<span>HEADER</span>
<br />
<pre><code>
        Content-Type: application/x-www-form-urlencoded
    </code></pre>

<br />
<span>BODY parametros:</span>
<pre><code>
        grant_type: password    (Obligatorio: dato tal cual se escribe y en minusculas)
        username:   tu_usuario
        password:   tu_contraseña
    </code></pre>

<br />
<span>Respuesta:</span>
<pre><code>
        {
<b><span style="color:red">"access_token":</span> "ywfHn1rd84DiTkcjEeZfRlPrDyC3S_qtUypGzCqPHX0jKM12XWGcMVZPlPY_NnYMt0-vGAjdnu5rHQB6_N6aLM6-BZFSaNf1x1Lf3yxNqriv8jojs1JrWK3eOaAYIZSO7ZKyWINbQffoMnZ18Zf4b3R9W5TdLVGjcT5vxkUOrBSP4bkK8T_EuOMDr-tEWh1FezuZwyFc9Mw3JAbe8zvaroD3WWg1AaIZvn6ZLncuynNxiS3CmDDgdIMw_7Ao-lnQhjx3SgtzHoTi0zHd3vDfUdYMZ4kdjqiB26GqogxZtJnnYMHOVgVDZG4sdYkpbQZz60RYZEkAYhg5Fj3yVJCbTW8DpFagMBir71LIIp9Ct0EZ8mkA1dzUqKD1yLPLNPiOMAfshNg8oL1xEFtqUBqb7baaQJAjdZrra6-p8sCoP1aJyU9O4DtNuZ1LYZfCvRA0ta1n_CX2T-Qoi6royFAmR-_AxlFBGOX_p2P1TKcur7Q",</b>
            "token_type": "bearer",
            "expires_in": 1799,
            "userName": "test",
            ".issued": "Sat, 25 Mar 2017 22:26:45 GMT",
            ".expires": "Sat, 25 Mar 2017 22:56:45 GMT"
        }
    </code></pre>

<br />

<h3>POST  @ViewBag.Domain/api/ServiciosApi/WS_GPS_InsertaSimple </h3>
<br />
<span>HEADER</span>
<br />
<pre><code>
<b><span>Content-Type: </span></b> application/x-www-form-urlencoded
<b><span>Authorization: </span></b>Bearer ywfHn1rd84DiTkcjEeZfRlPrDyC3S_qtUypGzCqPHX0jKM12XWGcMVZPlPY_NnYMt0-vGAjdnu5rHQB6_N6aLM6-BZFSaNf1x1Lf3yxNqriv8jojs1JrWK3eOaAYIZSO7ZKyWINbQffoMnZ18Zf4b3R9W5TdLVGjcT5vxkUOrBSP4bkK8T_EuOMDr-tEWh1FezuZwyFc9Mw3JAbe8zvaroD3WWg1AaIZvn6ZLncuynNxiS3CmDDgdIMw_7Ao-lnQhjx3SgtzHoTi0zHd3vDfUdYMZ4kdjqiB26GqogxZtJnnYMHOVgVDZG4sdYkpbQZz60RYZEkAYhg5Fj3yVJCbTW8DpFagMBir71LIIp9Ct0EZ8mkA1dzUqKD1yLPLNPiOMAfshNg8oL1xEFtqUBqb7baaQJAjdZrra6-p8sCoP1aJyU9O4DtNuZ1LYZfCvRA0ta1n_CX2T-Qoi6royFAmR-_AxlFBGOX_p2P1TKcur7Q
    </code></pre>
<code>Nótese que se utilizó como prefijo del token "Bearer" más un espacio vacío y a continuación el token obtenido previamente.</code>
<br />
<br />
<span>BODY parametros:</span>
<pre><code>
        Ver detalle de los parametros en la siguiente documentacion:
<br />
<a href="@ViewBag.Domain/Help/Api/POST-api-ServiciosApi-WS_GPS_InsertaSimple">@ViewBag.Domain/Help/Api/POST-api-ServiciosApi-WS_GPS_InsertaSimple</a>
    </code></pre>

    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            <h3 class="panel-title">Parametros</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Longitud Maxima</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Usuario</td>
                    <td>string</td>
                    <td>30</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>string</td>
                    <td>10</td>
                    <td></td>
                </tr>
                <tr>
                    <td>IMEI</td>
                    <td>string</td>
                    <td>40</td>
                    <td></td>
                </tr>
                <tr>
                    <td>CodigoEvento</td>
                    <td>string</td>
                    <td>20</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lat</td>
                    <td>decimal </td>
                    <td>2 Enteros 9 Decimales</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Lng</td>
                    <td>decimal</td>
                    <td>2 Enteros 9 Decimales</td>
                    <td>Acepta Valores Negativos</td>
                </tr>
                <tr>
                    <td>Ubicacion</td>
                    <td>string</td>
                    <td>1000</td>
                    <td>Calle Colonia Estado etc.</td>
                </tr>
                <tr>
                    <td>GPSValido</td>
                    <td>boolean</td>
                    <td>Verdadero o Falso</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Velocidad</td>
                    <td>int</td>
                    <td>3 digitos</td>
                    <td>velocidad en Km/h</td>
                </tr>
                <tr>
                    <td>Direccion</td>
                    <td>integer</td>
                    <td>3 digitos</td>
                    <td>Direccion en relacion N, S, E, O</td>
                </tr>
                <tr>
                    <td>NivelBateria</td>
                    <td>integer</td>
                    <td>3 digitos</td>
                    <td>Nivel de bateria en porcentaje</td>
                </tr>
                <tr>
                    <td>KMOdometro</td>
                    <td>integer</td>
                    <td>7 digitos</td>
                    <td>Kilometraje del odometro del vehiculo</td>
                </tr>
                <tr>
                    <td>FechaHoraGeneracion</td>
                    <td>datetime</td>
                    <td></td>
                    <td>FechaHora en formato UTC-0 en que el evento es generado por el dispositivo GPS</td>
                </tr>
                <tr>
                    <td>FechaHoraRecepcion</td>
                    <td>datetime</td>
                    <td></td>
                    <td>FechaHora en formato UTC-0 en que el evento es recibido por la plataforma</td>
                </tr>
            </tbody>
        </table>
    </div>

<br />
<span>Respuesta de insertado correcto:</span>
<pre><code>
    {
        "Indicador": 1,
        "Mensaje": "OK"
    }
</code></pre>
<br />
<span>Respuesta de insertado incorrecto:</span>
<pre><code>
<span style="color:red">
    {
        "Indicador": 0,
        "Mensaje": "ERROR: (Descripcion del error)"
    }
</span>
</code></pre>

    

<br />
    <br />
<h2>Ejemplos en POSTMAN</h2>
    <br />
    <h3>Solicitar TOKEN</h3>
    <br />
    <a href="~/Content/Images/postman1.png">
        <img src="~/Content/Images/postman1.png" width="80%" height="400px" />
    </a>
    <br /><br />
    <a href="~/Content/Images/postman2.png">
        <img src="~/Content/Images/postman2.png" width="80%" height="400px" />
    </a>
    <h3>Insertar Registro</h3>
    <br />
    <a href="~/Content/Images/postman3.png">
        <img src="~/Content/Images/postman3.png" width="80%" height="400px" />
    </a>
    <br /><br />
    <a href="~/Content/Images/postman4.png">
        <img src="~/Content/Images/postman4.png" width="80%" height="400px" />
    </a>
@*<br />
    <a href="../Chat.html">Testear Chat</a>*@
</div>